{% extends "base.jinja2" %}

{% block title %} MED: {{ name }} {% endblock %}

{% block head %}
{{ super() }}
<!-- <link rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
     crossorigin="anonymous"> -->
<link rel="stylesheet" href="/{{route_prefix}}static/med-appointments/css/app.css">

<link href="/{{route_prefix}}static/med-appointments/js/about.js" rel="preload" as="script">
<link href="/{{route_prefix}}static/med-appointments/js/about.js.map" rel="preload" as="script">
<link href="/{{route_prefix}}static/med-appointments/js/app.js" rel="preload" as="script">
<link href="/{{route_prefix}}static/med-appointments/js/app.js.map" rel="preload" as="script">
<link href="/{{route_prefix}}static/med-appointments/js/chunk-vendors.js" rel="preload" as="script">
<link href="/{{route_prefix}}static/med-appointments/js/chunk-vendors.js.map" rel="preload" as="script">

{% endblock %}

{% block body %}
{% include "header.jinja2" %}

<section class="mfws">
    <h1>{{ name }}: {{username}}</h1>
    <p>Stub for user profile information.</p>
    <noscript>
        <p><strong>Sorry but med-appointments cannot work properly without JavaScript enabled.</strong></p>
        <p><strong>Please enable it to continue.</strong></p>
    </noscript>
    <div id="frontEndWiring" style="display: none;">
        {
        "api": {
        "currentUser": "http://localhost:6543/apps/api/test/current_user",
        "filters": "http://localhost:6543/apps/api/test/filters",
        "users": "http://localhost:6543/apps/api/test/users",
        "apptUsers": "http://localhost:6543/apps/api/test/appt_users",
        "appointments": "http://localhost:6543/apps/api/test/appointments",
        "reassign": "http://localhost:6543/apps/api/test/reassign",
        "takebegin": "http://localhost:6543/apps/api/test/take_begin",
        "updateCondition": "http://localhost:6543/apps/api/test/update_condition"
        },
        "testResponse":true
        }
    </div>
    <div id="app"></div>
    <script src="/{{route_prefix}}static/med-appointments/js/chunk-vendors.js"></script>
    <script src="/{{route_prefix}}static/med-appointments/js/app.js"></script>
</section>

{% include "footer.jinja2" %}
{% endblock %}
