{% extends "../base.jinja2" %}

{% block title %} {{ branding }} | {{ name }} {% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/{{route_prefix}}static/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/{{route_prefix}}static/main.css">
<link rel="stylesheet" href="/{{route_prefix}}static/med-appointments/css/app.css">
{% endblock %}

{% block body %}
{% include "../header.jinja2" %}

<section class="mfws">
    <noscript>
        <h1>{{ name }}: {{username}}</h1>
        <p><strong>Sorry but med-appointments cannot work properly without JavaScript enabled.</strong></p>
        <p><strong>Please enable it to continue.</strong></p>
    </noscript>
    <div id="frontEndWiring" style="display: none;">
        {
        "api": {
        "currentUser": "{{ apis.current_user }}",
        "filters": "{{ apis.filters }}",
        "users": "{{ apis.users }}",
        "apptUsers": "{{ apis.appt_users }}",
        "appointments": "{{ apis.appointments }}",
        "reassign": "{{ apis.reassign }}",
        "takebegin": "{{ apis.take_begin }}",
        "updateCondition": "{{ apis.update_condition }}"
        },
        "testResponse":true
        }
    </div>
    <div id="app"></div>
    <script src="/{{route_prefix}}static/med-appointments/js/chunk-vendors.js"></script>
    <script src="/{{route_prefix}}static/med-appointments/js/app.js"></script>
</section>

{% include "../footer.jinja2" %}
{% endblock %}
