{% extends "base.jinja2" %}

{% block title %} MED: {{ name }} {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
{% include "header.jinja2" %}
<h1>{{ name }}: {{username}}</h1>
<p>Stub for apps.</p>
{% include "footer.jinja2" %}
{% endblock %}
