<!DOCTYPE html>
<html lang="en">
    <head>
	<meta name="author" content="vaeringjar">
	<meta name="keywords" content="enterprise mashup webapp">
	<meta name="description" content="Medical Enterprise Dashboard">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="apple-touch-icon" sizes="180x180" href="/{{route_prefix}}static/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/{{route_prefix}}static/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/{{route_prefix}}static/favicons/favicon-16x16.png">
	<link rel="manifest" href="/{{route_prefix}}static/favicons/site.webmanifest">

	<link rel="stylesheet" href="/{{route_prefix}}static/styles.css">
	{% block head %}
	<title>{% block title %}{% endblock %}</title>
	{% endblock %}
    </head>
    <body>
	{% block body %}{% endblock %}
    </body>
</html>
