<footer class="mfws">
    <a id="sitemap"></a>
    <nav class="sitemap">

	{% block apps %}
	{% if apps  %}
	<div class="widget">
            <h1>Apps</h1>
            <ul>
		{% for app in apps %}
                <li><a href="{{ app.route }}">{{ app.name }}</a></li>
		{% endfor %}
            </ul>
	</div>
	{% endif %}
	{% endblock %}

	{% block external_links %}
	{% if external_links %}
	<div class="widget">
            <h1>External Links</h1>
            <ul>
		{% for link in external_links %}
                <li><a href="{{ link.url }}">{{ link.name }}</a></li>
		{% endfor %}
            </ul>
	</div>
	{% endif %}
	{% endblock %}

        <div class="widget">
	    <h1>Auth</h1>
            <ul>
		{% if username %}
		<li><a href="/logout">Logout</a></li>
		{% else %}
		<li><a href="/login">Login</a></li>
		{% endif %}
            </ul>
        </div>
    </nav>
</footer>
