<header class="mfws">
    <nav class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/apps">Apps</a></li>
        </ul>
        <ul>
            <li><a href="#sitemap">Sitemap</a></li>
        </ul>
    </nav>
</header>
