{% extends "base.jinja2" %}

{% block title %} MED: {{ name }} {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}

{#% include "header.jinja2" %#}
{#% include "footer.jinja2" %#}

<header class="mfws">
    <nav class="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Apps</a></li>
        </ul>
        <ul>
            <li><a href="#sitemap">Sitemap</a></li>
        </ul>
    </nav>
</header>

<section class="mfws">
    <h1>Med Enterprise Dash</h1>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Middle.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <p>Stub for home.</p>
    <div class="push"></div>
</section>

<footer class="mfws">
    <a id="sitemap"></a>
    <nav class="sitemap">
        <div class="widget">
	    <h1>Apps</h1>
            <ul>
                <li><a href="#">foo4</a></li>
                <li><a href="#">foo5</a></li>
                <li><a href="#">foo6</a></li>
                <li><a href="#">fooN</a></li>
                <li><a href="#">fooN</a></li>
                <li><a href="#">fooN</a></li>
                <li><a href="#">fooN</a></li>
                <li><a href="#">fooN</a></li>
                <li><a href="#">fooN</a></li>
                <li><a href="#">fooN</a></li>
                <li><a href="#">fooN</a></li>
                <li><a href="#">fooN</a></li>
                <li><a href="#">fooN</a></li>
                <li><a href="#">fooN</a></li>
                <li><a href="#">fooN</a></li>
                <li><a href="#">fooN</a></li>
                <li><a href="#">fooN</a></li>
            </ul>
        </div>
        <div class="widget">
	    <h1>External Links</h1>
            <ul>
                <li><a href="#">foo7</a></li>
                <li><a href="#">foo8</a></li>
                <li><a href="#">foo9</a></li>
            </ul>
        </div>
        <div class="widget">
	    <h1>Auth</h1>
            <ul>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </nav>
</footer>

{% endblock %}
