{% extends "base.jinja2" %}

{% block title %} {{ branding }} | {{ name }} {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
{% include "header.jinja2" %}

<section class="mfws">
    <h1>{{ branding }}</h1>
    <p><a href="{{login}}">Click here</a> to login.</p>
    <p>Version: {{ version }}</p>


    {% if status %}
    <h2>System status checks</h2>
    <pre class="src">
        {% for check in status %}
        {{ check.system|e }}: {{ check.status|e }}
        {% endfor %}
    </pre>
    {% endif %}


    {% if status_integrity %}
    <h2>System status integrity</h2>
    <pre class="src">
        {{ status_integrity }}
    </pre>
    {% endif %}


</section>

{% include "footer.jinja2" %}
{% endblock %}
