{% extends "base.jinja2" %}

{% block title %} MED: {{ name }} {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<h1>Logged out...</h1>
{% include "menu.jinja2" %}
{% endblock %}
