{% extends "base.jinja2" %}

{% block title %} {{ branding }} | {{ name }} {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
{% include "header.jinja2" %}

<section class="mfws">
    <h1>Logged out...</h1>
</section>

{% include "footer.jinja2" %}
{% endblock %}