<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MED: {{ name }}</title>
    </head>
    <body>
        <h1>{{ name }}: {{username}}</h1>
        <ul>
            {% if username %}
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </body>
</html>
